@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');


/* @font-face {
    font-family: "Readex Pro Regular";
    src: url("assets/fonts/ReadexPro-Light.ttf");
}

@font-face {
    font-family: "Readex Pro Bold";
    src: url("assets/fonts/ReadexPro-Bold.ttf");
}

body {
    font-family: "Readex Pro Regular";
} */

.grecaptcha-badge {
    visibility: hidden;
}